.screen {
    background:
        radial-gradient(circle at top left, rgba(87, 20, 141, 0.6), rgba(0, 0, 0, 0.6) 40%),
        radial-gradient(ellipse at bottom right, rgba(87, 20, 141, 0.8), rgba(0, 0, 0, 0.8) 40%);
    overflow: hidden;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 100vh;
    background:
        radial-gradient(circle at top left, rgba(87, 20, 141, 0.6), rgba(0, 0, 0, 0.6) 40%),
        radial-gradient(ellipse at bottom right, rgba(87, 20, 141, 0.8), rgba(0, 0, 0, 0.8) 40%);
    font-family: 'IM FELL French Canon';

    color: white
}

.login-area {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 100px auto;
    border: rgb(244, 244, 244, 0.5) 2px solid;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}

.title-login-area {
    font-family: 'IM FELL French Canon';
    font-size: 30px;
    color: white
}


.input {
    width: 270px;
    height: 40px;
    background-color: rgb(210, 210, 210);
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 10px;
    outline: none;
    color: black;
    font-size: 18px;
    font-family: "Poppins";
    padding-left: 10px;
    box-sizing: border-box;

}

.button {
    width: 270px;
    height: 40px;
    background-color: rgba(92, 64, 114, 0.6);
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 9px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    transition: background-color 0.2s;

}

.button:hover {
    background-color: rgba(45, 27, 59, 0.6);

}

.home-container {
    width: 90vw;
    height: 90vh;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    column-gap: 70px;
    justify-content: space-between;
    align-items: center;
}

.chats-container {
    width: 400px;
    height: 600px;
    border: rgb(244, 244, 244, 0.5) 2px solid;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: start;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
}

.chat {
    width: 80%;
    height: 50px;
    background-color: rgba(181, 136, 218, 0.6);
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    transition: font-size 0.2s;
}

.chat:hover {
    background-color: rgba(94, 62, 117, 0.6);
    font-size: 18px;

}


.messages-container {
    display: flex;
    width: 800px;
    height: 600px;
    border: rgb(244, 244, 244, 0.5) 2px solid;
    flex-direction: column-reverse;
    row-gap: 20px;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.message-input-area {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.button-send{
    width: 100px;
    height: 40px;
    background-color: rgba(92, 64, 114, 0.6);
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: background-color 0.2s;


}

.button-send:hover {
    background-color: rgba(181, 136, 218, 0.6);

}

.message{
    width: fit-content;
    min-width: 100px;
    max-width: 70%;
    height: fit-content;
    min-height: 50px;
    background-color: rgba(181, 136, 218, 0.6);
    border-radius: 10px 10px 10px 0;
    display: flex;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    word-wrap: break-word;

}

